<ion-header>
  <ion-toolbar class="main-toolbar">
    <ion-title class="ion-text-center">Planetas de Dragon Ball</ion-title>
  </ion-toolbar>
  <ion-toolbar class="search-toolbar">
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionChange)="searchPlanets()"
      placeholder="Buscar planeta"
      class="custom-searchbar"
      animated>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="planet-content">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let planet of planets">
        <ion-card class="planet-card">
          <img [src]="planet.image" [alt]="planet.name"/>
          <ion-card-header>
            <ion-card-title>{{ planet.name }}</ion-card-title>
            <ion-chip [class]="planet.isDestroyed ? 'status-chip destroyed' : 'status-chip existing'">
              {{ planet.isDestroyed ? 'Destruido' : 'Existente' }}
            </ion-chip>
          </ion-card-header>
          <ion-card-content>
            <p>{{ planet.description }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más planetas...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
